*.gem
*.rbc
.bundle
.config
.yardoc
.idea
.sass-cache
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
spec/ajaxify_test/log
spec/ajaxify_test/tmp
.DS_Store
